@CHARSET "utf-8";

html{
	background:url(img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.container {
	width:900px; 
	margin:0 auto; 
	padding:10px;
}
.head {
	width:900px;
	height:130px;
	margin-left:-10px;
	background-image:url("./img/p.png");
	background-repeat: no-repeat;
	background-size:1000px;
	background-position: -52% -20%;
	padding:10px;
}
.my_id
{
	color:#ffffff;
	background-image:url("./img/n.png");
	background-repeat: no-repeat;
	background-size:270px;
	margin-top:150px;
	width:250px;
	height:150;	
}

.header
{ 
	margin-top:-220px;
	background-image:url("./img/h.png");
	background-repeat: no-repeat;
	background-size:400px;
	background-position: 50% 0%;
	height: 150px;
}

.other_id
{
	color:#ffffff;
	background-image:url("./img/n.png");
	background-repeat: no-repeat;
	background-size:270px;
	background-position: -15% 0%;
	width:250px;
	margin-top:0px;
	margin-left:650px;
	height:150;
}

.my_info
{
	background-image:url("./img/chip.png");
	line-height: 200px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	line-height: 250px;
	width:250px;
	height:250px;
	margin-top:-30px;
	padding:0px;
}
.my_card
{
	line-height: 250px;
	width:250px;
	height:300px;
	margin-top:50px;
	padding:0px;
}
.state
{
	color:#ffffff;
	font-weight:bold;
	font-size:15pt;
	line-height: 35px;
	margin-top:-540px;
	margin-left:250px;
	padding:0px;
	width:400px;
	height:400px;
}
.bet
{
	color:#ffffff;
	line-height: 100px;
	margin-top:-25px;
	margin-left:250px;
	padding:0px;
	width:400px;
	height:160px;
}

.other_card
{
	/*background-image:url("./img/bcard.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size:180px;*/
	line-height: 200px;
	float:right;
	margin-top:-540px;
	margin-left:0px;
	padding:0px;
	width:250px;
	height:300px;
}
.other_info
{
	background-image:url("./img/chip.png");
	line-height: 200px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	float:right;
	margin-top:-250px;
	margin-left:0px;
	padding:0px;
	width:250px;
	height:250px;
}



